
<!DOCTYPE html>

<html lang="en">
	<!--begin::Head-->
	<head>
		<title>Quản lý cuộc thi</title>
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<script src="/js/jquery-3.5.1.js" crossorigin="anonymous"></script>
        <% include ../partials/head %> 
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" style="background-image: url(/media/bg/bg-10.jpg)" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading">
		<!--begin::Main-->
		<% include ../partials/menu_admin %>

		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                		<!--begin::Content-->
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Subheader-->
						<div class="subheader py-2 py-lg-12 subheader-transparent" id="kt_subheader">
							<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
								<!--begin::Info-->
								<div class="d-flex align-items-center flex-wrap mr-1">
									<!--begin::Heading-->
									<div class="d-flex flex-column">
										<!--begin::Title-->
										<h2 class="text-white font-weight-bold my-2 mr-5">Quản lý cuộc thi</h2>
										<!--end::Title-->
										<!--begin::Breadcrumb-->
										<div class="d-flex align-items-center font-weight-bold my-2">
											<!--begin::Item-->
											<a href="#" class="opacity-75 hover-opacity-100">
												<i class="flaticon2-shelter text-white icon-1x"></i>
											</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Quản lý</a>
											<!--end::Item-->
											<!--begin::Item-->
											<span class="label label-dot label-sm bg-white opacity-75 mx-3"></span>
											<a href="" class="text-white text-hover-white opacity-75 hover-opacity-100">Quản lý cuộc thi</a>
											<!--end::Item-->
										</div>
										<!--end::Breadcrumb-->
									</div>
									<!--end::Heading-->
                                </div>
                                <div class="d-flex align-items-center flex-wrap mr-2">
                                    <a href="/admin/new-contest" class="btn btn-light-success font-weight-bold mr-2">Tạo cuộc thi</a>
                                </div>
								<!--end::Info-->
                                
							</div>
						</div>
						<!--end::Subheader-->
						<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">
							<!--begin::Container-->
							<div class="container">
                                <!--begin::Dashboard-->
                                <div class="card card-custom">
                                    <!--begin::Row-->
                                <div class="row">
                                    <div class="card-body">
										
                                        <!--begin: Datatable-->
                                        <table id="table_id" class="table table-separate table-head-custom table-checkable" data-page-length="50">
                                            <thead style="text-align:center;margin: auto;">
                                                <tr>
													<th style="width:2%">STT</th>
                                                    <th style="width:8%">Mã cuộc thi</th>
                                                    <th style="width:30%">Tên cuộc thi</th>
                                                    <th style="width:20%">Thời gian bắt đầu</th>
                                                    <th style="width:10%">Thời gian làm bài</th>
                                                    <th style="width:10%">Công khai</th>
                                                    <th>Tác vụ</th>

                                                </tr>
                                            </thead>
											<tbody id="show-all-contests" style="text-align:center;margin: auto;">
											<% if(locals.user.isTeacher ==false){ %> 
												<% for(var i = 0; i < data.length; i++) {%>
												<tr>
													<td>

													</td>
													<td>
														<%= data[i].code %>
													</td>
													<td>
														<%= data[i].name %>					
													</td>
													<td>
														<%= data[i].D %>
													</td>
													<td>
														<%= data[i].duration %>
													</td>
													<td>
														<% if(data[i].visible== true){ %>
															Có 
														<% }else{ %>
															Không
														<% } %> 
													</td>
													
													<td>
														<form method="POST" action="/admin/dlt_contest/<%= data[i].code %>">
															<a href="/admin/contests/<%= data[i].code %>/standings">
																<button type="button" class="btn btn-success btn-sm">BXH</button></a>
															<a href="/admin/edit-contest/<%= data[i].code %>">
																<button type="button" class="btn btn-success btn-sm">Chỉnh Sửa</button></a>
															<button type="submit" class="btn btn-danger btn-sm">Xóa</button>
														</form>
													</td>
												
												</tr>
												<% } %>
											<% }else{ %> 
												<% for(var i = 0; i < data.length; i++) {%>
													<tr>
														<td>
	
														</td>
														<td>
															<%= data[i].code %>
														</td>
														<td>
															<%= data[i].name %>					
														</td>
														<td>
															<%= data[i].D %>
														</td>
														<td>
															<%= data[i].duration %>
														</td>
														<td>
															<% if(data[i].visible=== true){ %>
																Có 
															<% }else{ %>
																Không
															<% } %> 
														</td>
														<td>
															<a href="/admin/contests/<%= data[i].code %>/standings">
																<button type="button" class="btn btn-success btn-sm">BXH</button></a>
															<a href="/admin/edit-contest/<%= data[i].code %>">
																<button type="button" class="btn btn-success btn-sm">Chỉnh Sửa</button></a>
														</td>
													
													</tr>
													<% } %>
												<% } %> 
											</tbody>
                                        </table>
                                        <!--end: Datatable-->
                                    </div>
                                </div>

                                </div>
								
							</div>
							<!--end::Container-->
						</div>
						<!--end::Entry-->
					</div>
					<!--end::Content-->

					<!--end::Content-->
				<% include ../partials/footer %>
			</div>
			<!--end::Wrapper-->
		</div>
			<!--end::Page-->
	</div>
    <!--end::Main-->
  
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop">
    <span class="svg-icon">
    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <polygon points="0 0 24 0 24 24 0 24" />
            <rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
            <path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
        </g>
    </svg>
    <!--end::Svg Icon-->
    </span>
    </div>
    <!--end::Scrolltop-->
    

    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="/plugins/global/plugins.bundle.js"></script>
    <script src="/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Vendors(used by this page)-->
    <script src="/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <!--end::Page Vendors-->
    <!--begin::Page Scripts(used by this page)-->
    <script src="/js/pages/widgets.js"></script>
    <!--begin::Page Vendors(used by this page)-->
    <script type="text/javascript" src="/js/datatables.min.js"></script>

		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="/js/pages/crud/datatables/basic/headers.js"></script>
		<script>
			 $(document).ready(function() {
    var table = $('#table_id').DataTable( {
        "columnDefs": [ {
            "searchable": false,
            "orderable": false,
            "targets": 0
        } ],
        "order": [[ 1, 'asc' ]]
    } );
 
    table.on( 'order.dt search.dt', function () {
        table.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
} );
		</script>
		<script type="text/javascript" src="/js/script.js"></script>
		<script>
			var URL = window.location.href;
			var msg = URL.split("?")[1];
			if (msg !== "") {
				const probCode = msg.split("_")[0];
				const res = msg.split("_")[1];
				if(res != "Success"){
					window.alert("Thao tác thất bại, vui lòng kiểm tra lại");
				}
				else{
					window.alert("Thao tác thành công");
				}
			}
			
		</script>
		
    <!--end::Page Scripts-->
    </body>
    <!--end::Body-->
    </html>