<!DOCTYPE html>
<!--
Template Name: Metronic - Bootstrap 4 HTML, React, Angular 10 & VueJS Admin Dashboard Theme
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: https://1.envato.market/EA4JP
Renew Support: https://1.envato.market/EA4JP
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
	<!--begin::Head-->
	<head><base href="">
		<meta charset="utf-8" />
    <title>DP2T</title>
		<% include partials/head %>

		<!--begin::Fonts-->
		<link rel="stylesheet" href="/css/fonts.css" />
		<!--end::Fonts-->
		<!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
        <!--end::Page Vendors Styles-->
        <!--begin::Page Vendors Styles(used by this page)-->
		<link href="/plugins/custom/datatables/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Page Vendors Styles-->
		<!--begin::Global Theme Styles(used by all pages)-->
		<link href="/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/css/style.bundle.css" rel="stylesheet" type="text/css" />
		<!--end::Global Theme Styles-->
		<!--begin::Layout Themes(used by all pages)-->
		<!--end::Layout Themes-->
		<link rel="stylesheet" type="text/css" href="/css/submitprob.css" />
		<script id="result" type="text/x-handlebars-template">
            <tr>
                <td> {{number}} </td>
                <td> {{time}} </td>
                <td> {{memory}} </td>
                <td> {{result}} </td>
            </tr>
        </script>
        <script type="module">
          import { LaTeXJSComponent } from "/latex.js-0.12.4/package/dist/latex.mjs"
          customElements.define("latex-js", LaTeXJSComponent)
        </script>
		<style>
			h5{ 

font-size: 15px; 

font-weight: normal;

margin: 0x; 

text-align: left;

   border-bottom: 2px solid #a0a0b1;

  width: 96%;

  /* padding-bottom: 0px; */

  margin-bottom: 2px;

margin-top: 10px;

} 

#clockdiv{ 

	font-family: sans-serif; 
	color: black; 
	/* display: inline-block;  */
	font-weight: bold; 
	text-align: center; 
	font-size: 20px; 
	float: left;

} 

#clockdiv > div{ 

  padding: 0px; 

  border-radius: 3px; 

  background: white; 

  display: inline-block; 

} 

#clockdiv div > span{ 

  padding: 8px 16px; 

  border-radius: 3px; 

  background: white; 

  display: inline-block; 

	font-size: 10px;

} 
.smalltext{ 

padding-top: 5px; 

font-size: 10px; 

} 


#demo{ 
	color: black;
	font-size: 20px;
	font-weight: bold;

}

		</style>
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body  id="kt_body" style="background-color: white;" class="quick-panel-right demo-panel-right offcanvas-right header-fixed subheader-enabled page-loading" >
		<!--begin::Main-->

		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="d-flex flex-row flex-column-fluid page">
				<!--begin::Wrapper-->
				<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
					<!--begin::Header-->
					<div id="kt_header" class="header header-fixed" style="background-color: #ebebeb; height: 50px;">
                        <button type="button" onclick="quay_lai_trang_truoc()"><i class="icon-2x flaticon2-back"></i></button>
                        
							
								
								<div  style="text-align: center; margin:auto;color:black; font-size: 15px;margin-left: 1px;">Làm bài tập</div>
							
						
						<!--begin::Container-->
						<div class="container d-flex align-items-stretch justify-content-between">
							<div class="menu-problem" style="margin:auto">
								
								<% const probID=contestData.problemsID %> 
								<% for(var j=0;j<probID.length;j++){ %> 
								<a href="/contests/<%= contestData.code %>/<%= j %>" class="btn btn-secondary"><%= j+1 %></a> 
								<%=  %> 

								<% } %> 
							</div>
							
						</div>
						<!--end::Container-->
						
						<div id="clockdiv" style="width: 30%;display:center;"> 
							<div> 
						  
							<div class="smalltext">Ngày</div> 
						  
							  <span class="days" id="day"></span> 
						  
							</div> 
						  
							<div> 
						  
						   <div class="smalltext">Giờ</div> 
						  
							  <span class="hours" id="hour"></span> 
						  
							</div> 
						  
							<div>
						  
						   <div class="smalltext">Phút</div>  
						  
							  <span class="minutes" id="minute"></span> 
						  
							</div> 
						  
							<div> 
						  
						   <div class="smalltext">Giây</div>   
						  
							  <span class="seconds" id="second"></span> 
						  
							</div> 
						  
						  </div> 
						  
							
						  
						  <p id="demo"></p> 
						  


					</div>
					<!--end::Header-->

					
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content" style="padding-bottom:0px;">
						
						
						<div class="main" >
      
							
							<div class="display" style="word-break: break-word;">
							<div class="display-header-row">
								<div class="align-items-stretch">
									<div class="d-flex flex-grow-1  bg-hover-light p-4 rounded" >
										<div class=" flex-shrink-0 text-center" style="width: 40px;margin:auto">
											<i class="icon-2x text-dark-50 flaticon2-open-text-book"></i>
										</div>
									</div>
								</div>
							</div>
							  <div class="display-left" style="margin-top:0.5%;padding-left:1%;background-color: white; ">
								<div><strong><%= questions.problemSetter %></strong>
								  Độ khó chủ quan:  <% if (questions.difficulty == 0.1) { %> 1 <% } %>
								  <% if (questions.difficulty == 0.2) { %> 2 <% } %>
								  <% if (questions.difficulty == 0.3) { %> 3 <% } %>
								  <% if (questions.difficulty == 0.4) { %> 4 <% } %>
								  <% if (questions.difficulty == 0.5) { %> 5 <% } %>
								  <% if (questions.difficulty == 0.6) { %> 6 <% } %>
								  <% if (questions.difficulty == 0.7) { %> 7 <% } %>
								  <% if (questions.difficulty == 0.8) { %> 8 <% } %>
								  <% if (questions.difficulty == 0.9) { %> 9 <% } %>
								  <% if (questions.difficulty == 1.0) { %> 10 <% } %>/10<br>
								  Độ khó dựa trên kết quả người làm thành công:  <% if (questions.difficultyAutoUpdate == 0.1) { %> 1 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.2) { %> 2 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.3) { %> 3 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.4) { %> 4 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.5) { %> 5 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.6) { %> 6 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.7) { %> 7 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.8) { %> 8 <% } %>
								  <% if (questions.difficultyAutoUpdate == 0.9) { %> 9 <% } %>
								  <% if (questions.difficultyAutoUpdate == 1.0) { %> 10 <% } %>/10<br></div>
								  <hr>
								  <div class="title" style="font-size:20px;">
									Đề bài
								</div>
								
								
								<div class="problem-body">
									<p><strong></strong><latex-js><%= questions.name %></latex-js></p><hr>
									<p><strong>Đầu vào :</strong><latex-js><%= questions.inputFormat %></latex-js></p>
									<p><strong>Đầu ra :</strong><latex-js><%= questions.outputFormat %></latex-js></p>																	
									<p><strong>Giải thích :</strong><latex-js><%= questions.explanation %></latex-js></p>
								</div>
								  
							  </div>
						
							  <div class="display-right">
								  <div id="editor">
								  </div>
								  <div class="submit">
									<select id="language">
										<% for (var i=0; i<langlist.length; i++) { %>
										<option value="<%= langlist[i].id %>">
											<%= langlist[i].name %>
										</option>
										<% } %>
									</select>
									  <button type="button" class="btn btn-primary btn-md" id="btnKT" onclick="submitSolutionTest();">Kiểm Tra</button>
									  <button type="button" class="btn btn-primary btn-md" id="btnNB" onclick="submitSolution();">Nộp bài</button>
									  <button type="button" class="btn btn-primary btn-md" id="btnLL" onclick="goBack()">Làm lại</button>
								  </div>
								  <div id="running" style="display: none;text-align:center;margin: auto;">
									  <p style="text-align:center;margin: auto;">Running...</p>
								  </div>
								  <div class="submit-result">
									  <table class="table is-bordered is-striped is-narrow is-hoverable">
										  <thead>
											  <tr>
												  <th>Lời giải No.</th>
												  <th>Thời gian (Giây)</th>
												  <th>Bộ nhớ (KB)</th>
												  <th>Kết quả</th>
											  </tr>
										  </thead>
										  <tbody>
										  </tbody>
									  </table>
								  </div>
							  </div>
						  </div>
						  </div>
					</div>
                    <!--end::Content-->





					
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->





					<!--begin::Footer-->
                    
					
					<!--end::Footer-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--end::Main-->
		
		
		<!--begin::Scrolltop-->
		<div id="kt_scrolltop" class="scrolltop">
			<span class="svg-icon">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Up-2.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<polygon points="0 0 24 0 24 24 0 24" />
						<rect fill="#000000" opacity="0.3" x="11" y="10" width="2" height="10" rx="1" />
						<path d="M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z" fill="#000000" fill-rule="nonzero" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</div>
		<!--end::Scrolltop-->
		
		

		</div>
		<!--end::Demo Panel-->
		<% include partials/script %>

        <!--begin::Page Vendors(used by this page)-->
		<script src="/plugins/custom/datatables/datatables.bundle.js"></script>
		<!--end::Page Vendors-->
		<!--begin::Page Scripts(used by this page)-->
		<script src="/js/pages/crud/datatables/basic/paginations.js"></script>
		<!--end::Page Scripts-->
		<script>
			$(document).ready( function () {
   				$('#table_id').DataTable();
			} );
		</script>
		<script> 
			var deadline = new Date("<%= contestData.endDate %>").getTime(); 		
			var x = setInterval(function() { 
			var now = new Date().getTime(); 
			var t = deadline - now; 
			var days = Math.floor(t / (1000 * 60 * 60 * 24)); 
			var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60)); 			
			var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60)); 			
			var seconds = Math.floor((t % (1000 * 60)) / 1000); 			
			document.getElementById("day").innerHTML =days ; 			
			document.getElementById("hour").innerHTML =hours; 			
			document.getElementById("minute").innerHTML = minutes;  
			document.getElementById("second").innerHTML =seconds;  			
			if (t < 0) { 			
					clearInterval(x); 
					document.getElementById("clockdiv").style.display="none";
					document.getElementById("demo").innerHTML = "Đã hết giờ"; 
					document.getElementById("btnKT").disabled ="disabled";
					document.getElementById("btnKT").style.opacity="0.3"
					document.getElementById("btnNB").disabled ="disabled";
					document.getElementById("btnNB").style.opacity="0.3"
					document.getElementById("btnLL").disabled ="disabled";
					document.getElementById("btnLL").style.opacity="0.3";
					window.setTimeout(() => {
						window.location="http://localhost:8080/contests";
					}, 5000);//1000 = 1 second.
				} 



			}, 1000); 
			
			</script> 
			
		<script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>
		<script>
		  var editor = ace.edit("editor");
		  editor.setTheme("ace/theme/chrome");
		  editor.session.setMode("ace/mode/c_cpp");
		  editor.setFontSize("16px");
		  $("#language").change(function () {
			var lang_enum = $(this).val();
			switch (lang_enum) {
			  case 62:
				editor.getSession().setMode("ace/mode/java");
				break;
			  case 63:
				editor.getSession().setMode("ace/mode/javascript");
				break;
			  case 67:
				editor.getSession().setMode("ace/mode/pascal");
				break;
			  case 71:
				editor.getSession().setMode("ace/mode/python");
				break;
			  default:
				editor.getSession().setMode("ace/mode/c_cpp");
				break;
			}
		  });
        </script>
        <script>
            function quay_lai_trang_truoc(){
                history.back();
            }
        </script>
            <script src="/js/handlebars.js"></script>
			<script src="/js/contest_solution_submit.js"></script>
	</body>
	<!--end::Body-->
</html>